body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.workspace {
  display: flex;
  padding: 20px;
}

#canvas {
  display: none;
  max-width: 100%;
  height: auto;
}
.tools-sidebar {
  background: linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
  display: none;
  flex-direction: column;
  gap: 2.5vh;
  padding: 1.5vh;
  border-radius: 10px;
}

.btn i {
  font-size: 20px;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .workspace {
    flex-direction: column;
    padding: 10px;
  }

  .tools-sidebar {
    width: 100%;
    height: 15vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #canvas {
    width: 100%;
    height: 70vh;
  }
  #chosen-color {
    display: none;
  }
}

.color-square,
a.btn {
  width: 4.2vh;
  height: 4.2vh;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease;
}

a.btn {
  display: inline-flex;
  justify-content: center;
}

.color-square:hover {
  transform: scale(1.1);
}

#custom-picker {
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(
    120deg,
    #ff6b6b,
    #feca57,
    #48dbfb,
    #1dd1a1,
    #ff6b6b
  );
  background-size: 300% 300%;
  animation: move 5s ease infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#custom-picker input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
